<h1> Login </h1>

<% if current_user == nil %>
<p> You need to be signed in to see the possible trips! Sign in below or <%= link_to "Sign Up", new_user_path %> </a> today</p>
<% end %>

<% if @fail == true %>
<p> The username and password do not match, please try again </p>
<% end %>

<%= form_tag session_login_path, {:method => :post} do %>
  <div>
    <label for="user[username]">Username:</label>
    <input type="text" name="user[username]">
  </div>
  <div>
    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]">
  </div>
  <%= submit_tag %>
<% end %>
